body, h5 {
  font-family: 'Gelasio', serif;
  font-weight: 400;
}

h1, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h6 {
  width: 80px;
  height: 5px;
  border-color: black;
  border-bottom: solid;
  border-width: 2px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
